{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load static %}

{% block extra_css %}
    <style>
        * {
            font-family: Changa;
            font-weight: initial;
            direction: rtl;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        body {
            background-image: url("{% static 'portal/White-Background.jpg' %}");
            background-origin: padding-box;
            background-size: auto;
            background-repeat: no-repeat;
        }

        input {
            background-color: transparent;
        }

        .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
            outline: 0;
            outline-offset: 0;
        }

        .card {
            padding: 5% 4%;
            position: absolute;
            width: 50%;
            min-width: auto;
            right: 27%;
            top: 16%;
            background-color: white;
            box-shadow: -11px 0px 22px -6px #0000002b;
            transition: ease-out 300ms;
        }

        .PassResetHeader {
            padding-bottom: 3%;
            text-align: center;
        }

        .DivIn {
            padding: 2.5% 2%;
        }

        .DivIn > input {
            position: relative;
            right: 25%;
            font-size: 15px;
            line-height: 1.5;
            color: #666666;
            display: block;
            width: 55%;
            height: 50px;
            outline: none;
            border: none;
            border-bottom: 2px solid #e6e6e6;
            transition: ease 300ms;
            text-align: center;
        }

        input::placeholder {
            font-size: small;
            opacity: 1;
        }

        h4 {
            line-height: normal;
            text-align: center;
            font-size: inherit;
            font-weight: 700;
        }

        .reset{
            position: relative;
            margin: auto;
            display: block;
        }

        .contact{
            padding-top: 5%;
            text-align: center;
        }
        @media screen and (max-width: 991px) {

            body {
                direction: ltr
            }

            .card {
                width: 83%;
                right: 8%;
                top: 20%;
            }

            .DivIn {
                padding: 1% 2%;
            }

        }

        @media screen and (max-width: 880px) {

            body {
                direction: ltr
            }

            .card {
                width: 83%;
                right: 8%;
                top: 20%;
            }

            .card > .login-card > .login > .normalconnect .DivIn > input {
                padding: 0;
            }

        }

        @media screen and (max-width: 425px) {

            body {
                direction: ltr;
            }

            .card {
                width: 83%;
                right: 8%;
                top: 15%;
            }

            .PassResetHeader {
                font-size: 26px;
                color:crimson;
            }

            .DivIn {
                padding: 0;
            }

        }


    </style>
{% endblock %}
{% block content %}
    {% include 'snippet/navbar.html' %}
    {#  {% if socialaccount.providers  %}#}
    {#  <div class="socialaccount_ballot">#}
    {#    <ul class="socialaccount_providers">#}
    {#      {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
    {#    </ul>#}
    {#  {% include "socialaccount/snippets/login_extra.html" %}#}
    {#  {% endif %}#}


    <div class="card" id="card">

        <h4 class="PassResetHeader">{% trans "Password Reset" %}</h4>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <div class="DivIn">
                {{ form.email }}
            </div>
            <input class="btn btn-info reset" type="submit" value="{% trans 'Reset My Password' %}"/>
        </form>

        <p class="contact">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>

{% endblock %}

