{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_class %} UserProfileUpdate {% endblock %}
{% block extra_css %}
    <link href="{% static 'css/user_update.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        .label {
            color: #cacaca;
        }

        input::placeholder {
            opacity: 0;
        }

        .btn-danger {
        }

        footer {
            margin: 0;
            bottom: -20vw;
        }

        @media screen and (max-width: 767px) {
            footer {
                bottom: -30vh;
            }
        }

    </style>
{% endblock %}{% block content %}
    <div class="container">

        <div class="profile-card" style="">
            {% thumbnail user.userprofile.avatar '100x150' format='PNG' as avatar %}
                <img src="{{ avatar.url }}" class="img-rounded"
                     style="display: block;margin: auto;top: -40px;position: relative;border-radius: 55%;border: 6px solid rgba(255, 255, 255, 0.78);background-color: rgba(224, 216, 216, 0.8);"/>
                {% empty %}
                <img src="/media/avatars/alien.png" height="100" width="100" class="img-rounded"
                     style="display: block;margin: auto;top: -40px;position: relative;border-radius: 55%;border: 6px solid rgba(255, 255, 255, 0.78);background-color: rgba(224, 216, 216, 0.8);"/>
            {% endthumbnail %}
            <div class="profile-info" style="">
                <form method="POST" novalidate class="password_change">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="DivIn">
                            <span class="label">{{ field.label }}</span>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn save-changes"
                            style="display: block;margin: auto;margin-top: 10%;">
                        حفظ كلمة السر
                    </button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        $('document').ready(function () {
            $('.UserProfileUpdate').css('background-image', 'url({% static "ProfileCover/SunSet_Clouds.jpg" %}');

        });
    </script>
{% endblock %}